{% extends 'basepage.html' %}
{% load static %}
{% block title %}panel{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/customer_panel.css' %}">
{% endblock %}
{% block content %}


    <div class="card" style="width: 18rem;margin: 10rem  4rem 10rem ">
        <div class="card-header">
            Featured
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item btn-light"><a href="#">order history</a></li>
            <li class="list-group-item btn-light"><a href="{% url 'customer:show_address' %}">addresses</a></li>
            <li class="list-group-item btn-light"><a href="{% url 'customer:add_address' %}" >add-address</a></li>
            <li class="list-group-item btn-light"><a href="{% url 'customer:personal_info' %}">personal info</a></li>
            <li class="list-group-item btn-light"><a href="#">change password</a></li>

        </ul>
    </div>



{% endblock %}