{% extends 'basepage.html' %}
{% load static %}
{% block title %}register{% endblock %}
{% block content %}

    <div class="row">

            <div class="card m-auto  p-5 border-light shadow w-25 h-50 border-radius">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class=" btn btn-primary border-primary border-radius" type="submit" name="register">
                </form>
            </div>
        </div>

{% endblock %}