{% extends 'basepage.html' %}
{% load static %}
{% block content %}
    <div class="container ">
        <div class="row justify-content-center m-auto">
            {% for item in category.product_set.all %}
                <div class="col-xl-3 col-lg-3 col-md-4  col-sm-6  pb-5">
                    <div class="product-grid card card-body h-100">
                        <div class="product-image text-center">
                            <a href="{% url 'product_detail' item.slug %}" class="image">
                                    <img class="pic-1" style=" width: 100%;height: 15vw;object-fit: contain;"
                                         src="{{ item.main_image.url}}">
                            </a>
                            {% if item.discount.discount %}
                            <span class="product-discount-label">{{ item.discount.discount }}%</span>
                            <ul class="product-links">
                                <li><a href="#" data-tip="add to favourite"><i class="fas fa-heart"></i></a></li>
                            </ul>
                            {% else %}
                            <ul class="product-links">
                                <li><a href="#" data-tip="add to favourite"><i class="fas fa-heart"></i></a></li>
                            </ul>
                            {% endif %}

                        </div>
                        {% if item.calculate_discount %}

                        <div class="product-content mt-5">
                            <h3 class="title"><a href="#">{{ item.name }}</a></h3>
                            <div class="price"><span>{{ item.price.price }}</span>{{item.product_final_price}} </div>
                            <a class="add-to-cart margin" href="#">add to cart</a>
                        </div>
                        {% else %}
                        <div class="mb-5">
                            <h3 class="title"><a href="#">{{ item.name }}</a></h3>
                            <div class="price"><span></span><br>{{ item.price.price }}</div>
                            <a class="add-to-cart margin" href="#">add to cart</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}