<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>


{% load mptt_tags %}
<div id="{{ node.id }}">
    {% recursetree category_list %}
        <div class="card">
            <div class="card-header" id="{{ node.id }}">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#{{ node.name }}"
                            aria-expanded="true"
                            aria-controls="{{ node.name }}">
                        {{ node.name }}
                    </button>
                </h5>
            </div>

            <div id="{{ node.name }}" class="collapse" aria-labelledby="{{ node.id }}"
                 data-parent="#{{ node.name }}">
                <div class="card-body">
                    {% if not node.is_leaf_node %}
                        {{ children }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endrecursetree %}
</div>

{#{% load mptt_tags %}#}
{#<ul class="root">#}
{#    {% recursetree category_list %}#}
{#        <li>#}
{#            {{ node.name }}#}
{#            {% if not node.is_leaf_node %}#}
{#                <ul class="children">#}
{#                    {{ children }}#}
{#                </ul>#}
{#            {% endif %}#}
{#        </li>#}
{#    {% endrecursetree %}#}
{#</ul>#}