{% extends 'basepage.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/product_detail_card.css" %}">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="card mt-5 mr-1">
            <div class="row">
                <aside class="col-sm-5 border-right">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <div><a href="#"><img class="img-fluid" src={{ product.main_image.url }}></a></div>
                        </div>
                        <div class="img-small-wrap">
                            {% for i in product.images.all %}
                                <div class="item-gallery"><a data-lightbox="hamid-set" href="{{ i.image.url }}"><img
                                        src={{ i.image.url }}></a></div>
                            {% endfor %}
                        </div> <!-- slider-nav.// -->
                    </article> <!-- gallery-wrap .end// -->
                </aside>
                <aside class="col-sm-7">
                    <article class="card-body p-5">
                        <h3 class="title mb-3">{{ product.name }}</h3>

                        <p class="price-detail-wrap">
	<span class="price h3 text-warning">
		<span class="currency"></span><span class="num">{{ product.price }}</span>
	</span>

                        </p> <!-- price-detail-wrap .// -->
                        <dl class="item-property">
                            <dt>Description</dt>
                            <dd><p>Here goes description consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco </p></dd>
                        </dl>
                        <dl class="param param-feature">
                            <dt>Model#</dt>
                            <dd>12345611</dd>
                        </dl>  <!-- item-property-hor .// -->
                        <dl class="param param-feature">
                            <dt>Color</dt>
                            <dd>Black and white</dd>
                        </dl>  <!-- item-property-hor .// -->
                        <dl class="param param-feature">
                            <dt>Delivery</dt>
                            <dd>Russia, USA, and Europe</dd>
                        </dl>  <!-- item-property-hor .// -->

                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <dl class="param param-inline">
                                    <dt>Quantity:</dt>
                                    <dd>
                                        <select id="select" class="form-control form-control-sm" style="width:70px;">
                                            <option value="1" selected>1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                    </dd>
                                </dl>  <!-- item-property .// -->
                            </div> <!-- col.// -->
                        </div>
                        <hr>
                        <button type="button" class="btn btn-lg btn-outline-success text-uppercase" id="add-button">

                            <i class="fas fa-shopping-cart"></i> Add to cart
                        </button>
                    </article>
                    <!-- card-body.// -->
                </aside> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
        <div class="product-description mb-5">
{#            <h2 class="mb-5">Features</h2>#}
{#            <dl class="row mb-5">#}
{#                <dt class="col-sm-3">Brand</dt>#}
{#                <dd class="col-sm-9">Nickony</dd>#}
{#                <dt class="col-sm-3">Color</dt>#}
{#                <dd class="col-sm-9">Red</dd>#}
{#                <dt class="col-sm-3">Size</dt>#}
{#                <dd class="col-sm-9">XXL</dd>#}
{#                <dt class="col-sm-3">Fabric</dt>#}
{#                <dd class="col-sm-9">Cottom</dd>#}
{#            </dl>#}
        </div>
        <!--container.//-->
    </div>

{% endblock %}

{% block extra_js %}
 <script>
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });
        $('#add-button').on('click', function () {
            $.ajax({
                type: 'POST',
                url:"{% url 'basket:basket_add' %}",
                data: {
                    'id': {{ product.id }},
                    'qty': Number($('#select option:selected').val()),

                },
                success: function (data) {
                    document.getElementById("basket-qty").innerHTML = data.qty

                },
                error: function (xhr, errmsg, err) {
                }

            });
        })

        lightbox.option({
            'resizeDuration': 150,
            'wrapAround': true
        })


    </script>
{% endblock %}


